.chip {
    gap: 6px;
    width: fit-content;
    height: 23px;
    margin-right: 9px;
    margin-bottom: 5px;
    color: var(--gray-2);
    background-color: var(--cloudy-sky-1);
    border-radius: 40px;

    & :global(.MuiChip-label) {
        padding: 5px 6px;
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-base);
    }

    & .icon {
        width: 13px;
        height: 13px;
        color: var(--text-primary-dark);
    }
}