.taskSpan {
    font-weight: bold;
    color: var(--steel-gray);
}

.dateSpan {
    display: block;
    color: #757575;
    font-size: 12px;
    margin-top: 5px;
    font-style: italic;
}

.valueSpan{
    font-weight: bolder; 
}

.circleIcon{
    font-size: 15px;
}