.menu {
    z-index: 100;
}

.menuList {
    margin: 12px;
    padding: 6px;
    list-style: none;
    background-color: var(--white);
    border: 1px solid var(--botticelli);
    border-radius: 8px;
}
