:root {
    // *Basic Colors*

    // Red
    --torch-red: #ff2121;

    // Azure
    --azure: #2e61ae;

    // Vivid
    --vivid: #18a0fb;

    // White
    --white: #ffffff;
    --white-lilac: #f7f8fc;

    // St Tropaz
    --st-tropaz: #4b6182;

    // Gray
    --gray-1: #c8cdd3;
    --gray-2: #828282;
    --steel-gray: #1f1e29;
    --slate-gray: #7c8798;

    // Aluminium
    --aluminium: #aab1bb;

    // Nepal
    --nepal: #90a3bf;

    // Botticelli
    --botticelli: #d5dce8;

    // Cloudy Sky
    --cloudy-sky: #d8d9db;
    --cloudy-sky-1: #d8d9db85;

    // Midnight Black
    --midnight-black: #2c2c2c;

    // Solitude
    --solitude: #dce5ff;

    // Mountain Meadow
    --mountain-meadow: #12b76a;

    // Porcelain
    --porcelain: #f5f6f7;

    // Cornflower Blue
    --cornflower-blue: #7a77fd;

    // Sunglow
    --sunglow: #ffd231;

    // *Reusable Elements*

    // Background colors
    --background-primary: var(--white-lilac);
    --background-secondary: var(--st-tropaz);

    // Text colors
    --text-primary: var(--nepal);
    --text-primary-dark: var(--steel-gray);
    --text-secondary: var(--slate-gray);

    // Action colors
    --hover-primary: var(--azure);

    // Shadow colors
    --shadow-primary: #2e61ae65;
    --shadow-secondary: #10161a33;

    // Error colors
    --error-primary: var(--torch-red);

    // Header
    --header-height: 80px;

    // *Font*

    // Font family
    --font-family: "Inter", sans-serif;

    // Font sizes
    --font-size-h1: 42px;
    --font-size-h2: 24px;
    --font-size-h3: 16px;
    --font-size-h4: 14px;
    --font-size-h5: 12px;
    --font-size-h6: 10px;
    --font-size-menu: 18px;
    --font-size-body: 14px;
    --font-size-btn: 14px;
    --font-size-base: 13px;
    --font-size-standard:14px;
    --font-size-smaller:12px;
}
